.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.spinner {
  width: 104px;
  height: 104px;
}

@keyframes ldioFijdfnpgrqm {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

.ldioFijdfnpgrqm div {
  box-sizing: border-box !important
}

.ldioFijdfnpgrqm > div {
  position: absolute;
  width: 60.32px;
  height: 60.32px;
  top: 21.84px;
  left: 21.84px;
  border-radius: 50%;
  border: 4.16px solid #000;
  border-color: #e70f0f transparent #e70f0f transparent;
  animation: ldioFijdfnpgrqm 1.282051282051282s linear infinite;
}

.ldioFijdfnpgrqm > div:nth-child(2), .ldioFijdfnpgrqm > div:nth-child(4) {
  width: 49.92px;
  height: 49.92px;
  top: 27.04px;
  left: 27.04px;
  animation: ldioFijdfnpgrqm 1.282051282051282s linear infinite reverse;
}

.ldioFijdfnpgrqm > div:nth-child(2) {
  border-color: transparent #1c04ff transparent #1c04ff
}

.ldioFijdfnpgrqm > div:nth-child(3) {
  border-color: transparent
}

.ldioFijdfnpgrqm > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldioFijdfnpgrqm > div:nth-child(3) div:before, .ldioFijdfnpgrqm > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 4.16px;
  height: 4.16px;
  top: -4.16px;
  left: 23.92px;
  background: #e70f0f;
  border-radius: 50%;
  box-shadow: 0 56.160000000000004px 0 0 #e70f0f;
}

.ldioFijdfnpgrqm > div:nth-child(3) div:after {
  left: -4.16px;
  top: 23.92px;
  box-shadow: 56.160000000000004px 0 0 0 #e70f0f;
}

.ldioFijdfnpgrqm > div:nth-child(4) {
  border-color: transparent;
}

.ldioFijdfnpgrqm > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldioFijdfnpgrqm > div:nth-child(4) div:before, .ldioFijdfnpgrqm > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 4.16px;
  height: 4.16px;
  top: -4.16px;
  left: 18.72px;
  background: #1c04ff;
  border-radius: 50%;
  box-shadow: 0 45.760000000000005px 0 0 #1c04ff;
}

.ldioFijdfnpgrqm > div:nth-child(4) div:after {
  left: -4.16px;
  top: 18.72px;
  box-shadow: 45.760000000000005px 0 0 0 #1c04ff;
}

.loadingio-spinner-double-ring-elfimvtljdp {
  width: 104px;
  height: 104px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldioFijdfnpgrqm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldioFijdfnpgrqm div {
  box-sizing: content-box;
}
